<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:include="fragments/header1.html::header1"/>
<div class="container">
    <h3>Create Course</h3>
    <h4 th:text="${incname}?${incname}:''"></h4>
    <h4 th:text="${incnameukr}?${incnameukr}:''"></h4>
    <h4 th:text="${inctopic}?${inctopic}:''"></h4>
    <h4 th:text="${inctopicukr}?${inctopicukr}:''"></h4>
    <h4 th:text="${incStartDate}?${incStartDate}:''"></h4>
    <h4 th:text="${incEndDate}?${incEndDate}:''"></h4>
    <h4 th:text="${endBeforeStart}?${endBeforeStart}:''"></h4>
    <form action="/admincreate" method="post">
        <div class="container">
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>Name</label>
                </div>
                <div class="col col-lg-3">
                    <input type="text" name="name" th:value="${course}?${course.name}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>Nameukr    </label>
                </div>
                <div class="col col-lg-3">
                    <input type="text" name="nameukr" th:value="${course}?${course.nameukr}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>Topic      </label>
                </div>
                <div class="col col-lg-3">
                    <input type="text" name="topic" th:value="${course}?${course.topic}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>Topicukr   </label>
                </div>
                <div class="col col-lg-3">
                    <input type="text" name="topicukr" th:value="${course}?${course.topicukr}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>startDate  </label>
                </div>
                <div class="col col-lg-3">
                    <input type="date" name="startDate" th:value="${course}?${course.startDate}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <label>endDate    </label>
                </div>
                <div class="col col-lg-3">
                    <input type="date" name="endDate" th:value="${course}?${course.endDate}:''">
                </div>
            </div>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <Label>Select Teacher</Label>
                </div>
                <div class="col col-lg-2">
                    <select class="form-control" name="teacherId" id="ti">
                        <option value="0"></option>
                        <option th:each="teacher : ${teachers.users}"
                                th:value="${teacher.id}"
                                th:text="${teacher.username}">
                        </option>
                    </select>
                </div>
            </div>

            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
            <div class="row justify-content-md-left">
                <div class="col col-lg-2">
                    <button class="btn btn-secondary" type="submit">Save</button>
                </div>
            </div>
        </div>

    </form>
</div>
</body>
</html>