<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CourseEdit</title>
</head>
<body>
<div th:include="fragments/header1.html::header1"></div>
<div class="container">
    <form action="/course" method="post">
        <div class="form-group">
        <label>Name       </label>
            <input type="text" name="name" th:value="${course.name}">
        </div>
        <div class="form-group">
        <label>Nameukr    </label>
            <input type="text" name="name" th:value="${course.nameukr}">
        </div>
        <div class="form-group">
        <label>Topic      </label>
            <input type="text" name="name" th:value="${course.topic}">
        </div>
        <div class="form-group">
        <label>Topicukr   </label>
            <input type="text" name="name" th:value="${course.topicukr}">
        </div>
        <div class="form-group">
        <label>startDate  </label>
            <input type="date" name="name" th:value="${course.startDate}">
        </div>
        <div class="form-group">
        <label>endDate    </label>
            <input type="date" name="name" th:value="${course.endDate}">
        </div>
        <div class="form-group">
        <label>Teacher    </label>
            <span th:text="${course.teacher.username}"></span><br>
        </div>
        <div class="form-group">
        <Label>Select Teacher</Label>
            <select class="form-control" name="teacherId" id="ti">
                    <option value="0">ALL</option>
                    <option th:each="teacher : ${teachers.users}"
                            th:value="${teacher.id}"
                            th:text="${teacher.username}">
                    </option>
                </select>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <div class="form-group">
        <button class="btn btn-secondary" type="submit">Update</button>
        </div>
    </form>
</div>
</body>
</html>
