<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title th:text="#{registration}"></title>-->
<!--</head>-->
<body>
<!--<div th:include="fragments/langselector::langselector"></div>-->
<form action="/registration" method="post">
    <input type="text" name="username" placeholder="username" />
    <input type="password" name="password" placeholder="password" />
    <button type="submit">Add</button>
</form>
<!--<p th:text="${message}?:''"></p>-->

</body>
</html>