<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>UserEdit</title>
</head>
<body>
<div th:include="fragments/header1.html::header1"></div>
<div class="container">
        <div th:each="err : ${error}">
            <span th:text="${err.getValue()}"></span>
        </div>

<form action="/user/save" method="post">
    <div class="row justify-content-md-left">
        <div class="col col-lg-2">
            <label> Username</label>
        </div>
        <div class="col col-lg-3">
            <input type="text" name="username" th:value="${user.username}">
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="col col-lg-2">
            <label> Username_ukr </label>
        </div>
        <div class="col col-lg-3">
            <input type="text" name="usernameukr" th:value="${user.usernameukr}">
        </div>
    </div>
    <div class="row justify-content-md-left">
        <div class="col col-lg-2">
            <label> email </label>
        </div>
        <div class="col col-lg-3">
            <input type="text" name="email" th:value="${user.email}">
        </div>
    </div>
    <h3> User status</h3>
    <label>Active</label><input type="checkbox" name="isActive" th:checked="${user.isActive()}">
    <h3> User authorities</h3>
    <table>
        <tbody>
        <tr th:each="role:${roles}">
            <td><label th:text="${role}"></label><input type="checkbox" th:name="${role}" th:checked="${user.roles.contains(role)}"></td>
        </tr>
        </tbody>
    </table>
    <input type="hidden" th:value="${user.id}" name="userId">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="submit" value="Save">
</form>
</div>
</body>
</html>