<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="coursesfilterandlist">
<div class="container">
    <h3> Courses filter </h3>
    <form th:action="@{/course_filter}" method="get">
        <table>
            <thead>
            <tr class="text-center">
                <th>Name</th><th>Name-ukr</th><th>Topic</th><th>Topic_ukr</th><th>startDate</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><input type="text" name="fname" th:value="${fname}?:''" /></td>
                <td class="text-center"><input type="text" name="fnameukr" th:value="${fnameukr}?:''" /></td>
                <td class="text-center"><input type="text" name="ftopic" th:value="${ftopic}?:''" /></td>
                <td class="text-center"><input type="text" name="ftopicukr" th:value="${ftopicukr}?:''" /></td>
                <td class="text-center"><input type="date" name="fstartDate" th:value="${fstartDate}?:''" /></td>
            </tr>
            </tbody>
            <thead>
            <tr class="text-center">
                <th>Duration min</th><th>Duration max</th><th>endDate</th><th>teacher</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="text-center"><input type="number" min="0" name="fdurationMin" th:value="${fdurationMin}?:''" /></td>
                <td class="text-center"><input type="number" min="0" name="fdurationMax" th:value="${fdurationMax}?:''" /></td>
                <td class="text-center"><input type="date" name="fendDate" th:value="${fendDate}?:''" /></td>
                <td class="text-center"><input type="text" name="fteacher" th:value="${fteacher}?:''" /></td>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                <td><button class="btn btn-primary" type="submit">Filter</button></td>
                <td><a th:href="@{/courses}" class="btn btn-warning">Reset filter</a> </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<div class="container">
    <h3> Courses list </h3>
    <table>
        <thead>
        <tr class="text-center">
            <th> ID </th><th> Name </th><th> Name-ukr </th><th> Topic </th><th> Topic_ukr </th><th> startDate </th>
            <th> Duration </th><th> endDate </th><th> teacher </th><th> Q-ty of students</th><th>Action</th>

        </tr>
        </thead>
        <tbody>
        <tr th:if="${courses.courses.empty}">
            <td colspan="2"> No Courses Available </td>
        </tr>
        <tr th:each="course : ${courses.courses}">
            <td class="text-center"><span th:text="${course.id}"> Id</span></td>
            <td class="text-center"><span th:text="${course.name}"> Name </span></td>
            <td class="text-center"><span th:text="${course.nameukr}"> Name </span></td>
            <td class="text-center"><span th:text="${course.topic}"> Name </span></td>
            <td class="text-center"><span th:text="${course.topicukr}"> Name </span></td>
            <td class="text-center"><span th:text="${course.startDate}"> Name </span></td>
            <td class="text-center"><span th:text="${course.duration}"> Name </span></td>
            <td class="text-center"><span th:text="${course.endDate}"> Name </span></td>
            <td class="text-center"><span th:text="${course.teacher.username}"> Name </span></td>
            <td class="text-center"><span th:text="${course.getEnrolledStudents().size()}"</td>
            <div th:if="${#request.userPrincipal.principal.isStudent()}">
            <td class="text-center" th:if="${!course.getEnrolledStudents().contains(#request.userPrincipal.principal)}">
                <form action="/courses/enroll" method="post">
                    <input type="hidden" name="courseId" th:value="${course.id}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button class="btn btn-success" type="submit">Enroll</button>
                </form>
            </td>
            <td class="text-center" th:if="${course.getEnrolledStudents().contains(#request.userPrincipal.principal)}">
                <form action="/courses/unenroll" method="post">
                    <input type="hidden" name="courseId" th:value="${course.id}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
                    <button class="btn btn-warning" type="submit">Unenroll</button>
                </form>
            </td>
            </div>
            <td th:if="${#request.userPrincipal.principal.isAdmin()}">
                <a class="btn btn-dark mx-2" href="/admin/courses/{course.id}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <!--<h3 th:text="${#request.userPrincipal.principal.getUsername()}"></h3>-->
</div>
</div>

</body>
</html>