<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div th:fragment="courseCreate">
    <form th:action="@{''}" method="post">
    <input type="text" name="name" placeholder="name" />
    <input type="text" name="name_ukr" placeholder="name_ukr" />
    <input type="text" name="topic" placeholder="topic" />
    <input type="text" name="topic_ukr" placeholder="topic_ukr" />
    <input type="date" name="startDate" placeholder="startDate">
    <input type="date" name="endDate" placeholder="endDate">

    <div th:if="${teachers==null or teachers.users.empty}">No active teachers </div>
    <div th:if="${teachers!=null and !teachers.users.empty}">
        <select class="form-control" name="userId" id="tl">
            <option th:each="teacher : ${teachers.users}"
                    th:value="${teacher.id}"
                    th:text="${teacher.username}">
            </option>
        </select>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <button type="submit">Add</button>
</div>
</body>
</html>